<form class="form-horizontal" {{action "submit" on="submit"}}>
  <fieldset>
    <legend>Add a New Post</legend>
    <div class="form-group">
      <label for="post-title" class="form-control col-lg-10" >
      {{input value=post.title id="post-title" }}
      </label>
    </div>

    <div class="form-group">
      <div class="col-lg-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </fieldset>
</form>