<form class="form-horizontal" {{action "submit" on="submit"}}>
  <fieldset>
    <legend>New Program</legend>
    <div class="form-group">
      <label for="program-title" class="col-lg-2 control-label">Title</label>
      {{input value=program.title class="form-control" id="program-title"}}

      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputTitle" placeholder="Title">
      </div>
    </div>

    

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
