<form>
  <label for="loginOrEmail">Login or Email</label>
  {{view Ember.TextField valueBinding="loginOrEmail" placeholder="Login or Email"}}
  <label for="password">Password</label>
  {{view Ember.TextField valueBinding="password" placeholder="Password"}}
  <button {{action 'createSession'}}>Login</button>
</form>

{{outlet}}
