<div class ='container'>
  
  {{outlet}}

  <h2>Posts</h2>

    <h4><{{link-to "Add New Post" 'posts.new'}}</h4>

      {{#each model as |post|}}
        
        <p>{{link-to post.title 'posts.post' post}}</p>
       
      {{/each}}
      
 </div>  